body {
	background-color:#2e2e2e;
}

h1, h2 {
	font-family: "Georgia", serif;
	color:#BB86FC
}

h2 {
	border-bottom-style: dashed;
	border-bottom-color: hotpink;
	border-width: 2px;
}


ul, p {
	font-family: "Georgia", serif;
	color: #03DAC6
} 

a {
	color: #CF6679;
}

